@use './utilities/colors' as *;
@forward './utilities/hamburger';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	background-color: $mainColor;
	color: $secondColor;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.sticky-body {
	overflow: hidden;
}

// NAWIGACJA

.nav {
	background-color: $mainColor;

    &__logo, 
    &__link {
        color: $secondColor;
        text-decoration: none;
    }

	&__btn {
		position: sticky;
		top: 0.5em;
		left: 0.5em;
		padding: 0.7em;
		font-size: 2.2rem;
		cursor: pointer;
		z-index: 2;
	}

	&__items {
		position: absolute;
		top: 50%;
		display: flex;
		justify-content: center;
		height: 100vh;
		background-color: $mainColor;
		transform: translate(-102%, -50%);
		transition: transform 0.3s;
	}

	&--active {
		transform: translate(0, -50%);
	}

	&__links {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	&__link {
		margin: 0.3em 0;
		padding: 1em 0.5em;
	}

	&__logo {
		display: none;
	}
}

// HEADER

.header {
    background-image: url('../img/jungle-small.jpg');
}

// MEDIA QUERIES

@media (min-width: 576px) {
}

@media (min-width: 768px) {
	.nav {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		height: auto;

		&__btn {
			display: none;
		}

		&__logo {
			display: block;
			margin-left: 1em;
			padding: 0.2em;
			font-size: 1.8rem;
		}

		&__items {
			position: relative;
			justify-content: space-between;
			align-items: center;
			transform: translate(0);
			height: auto;
		}

		&__links {
			flex-direction: row;
			margin-right: 1em;
			padding: 0 1.5em;
			width: 50%;
		}

		&__link {
			margin: 0;
			padding: 2em 0;
			width: 25%;
			font-size: 1.2rem;
			text-align: center;
			transition: background-color 0.3s, color 0.3s;

			&:hover {
				background-color: $secondColor;
				color: $mainColor;
			}
		}
	}
}

@media (min-width: 992px) {
	.nav {
		&__logo {
			font-size: 2.4rem;
		}

		&__link {
			font-size: 1.4rem;
		}
	}
}

@media (min-width: 1200px) {
}
