@use './utilities/colors' as *;
@use './utilities/mixins' as *;
@forward './utilities/offers';
@forward './utilities/contact';
@forward './utilities/hamburger';
@forward './utilities/sizes';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*::selection {
	background-color: $selectionColor;
	color: $mainColor
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	background-color: $mainColor;
	color: $secondColor;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.sticky-body {
	overflow: hidden;
}

.section-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);
	z-index: -1;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  height: 50vh;

  &__text {
    font-size: 1.6rem;
  }

  &__link {
    padding: 1em 2em;
    background-color: $buttonColor;
    transition: background-color 0.3s;

    &:hover {
      background-color: $selectionColor;
    }
  }
}

// NAWIGACJA



.nav {
	background-color: $footerColor;

    &__logo, 
    &__link {
        color: $secondColor;
        text-decoration: none;
    }

	&__btn {
		position: sticky;
		top: 0.5em;
		left: 0.5em;
		padding: 0.7em 0.5em;
		font-size: 2.7rem;
		cursor: pointer;
		z-index: 4;
	}

	&__items {
		position: absolute;
		top: 50%;
		display: flex;
		justify-content: center;
		height: 200vh;
		background-color: $footerColor;
		transform: translate(-102%, -50%);
		transition: transform 0.6s;
		z-index: 2;
	}

	&--active {
		transform: translate(0, -50%);
	}

	&__links {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	&__link {
		margin: 0.3em 0;
		padding: 1em 0.5em;
		font-size: 2rem;
	}

	&__logo {
		display: none;
	}
}



// HEADER



.header {
	position: relative;
  background-image: url('../img/jungle-small.jpg');
	background-size: cover;
	background-position: center;
	z-index: 0;

	&__text, 
	&__heading {
		color: $mainColor;
		z-index: 1;
	}

	&__text {
		margin-bottom: 0.4em;
		font-size: 1.4rem;
	}

	&__heading {
		font-size: 2.9rem;	
	}
}



// O NAS



.aboutus {
	display: flex;
	justify-content: center;

	&__header {
		margin-bottom: 1.3em;
		@include section-header;
	}

	&__img {
		margin: 0 auto;
		width: 100%;
	}

	&__text {
		h3 {
			margin: 1em 0 0.7em;
			font-size: 2rem;
			text-align: center;
		}

		p {
			font-size: 1.4rem;
		}
	}
}



// ADVENTURE



.adventure {
	position: relative;
	background-image: url(../img/girl-small.jpg);
	background-size: cover;
	background-position: center;
	z-index: 0;

	&__text {
		padding: 1em 0;
		font-size: 1.5rem;
		color: $mainColor;
		border: 1px solid $mainColor;
		text-align: center;
		z-index: 1;
	}
}



// OFERTA



.offers {
	&__header {
		@include section-header;
	}

	&__paragraph {
		margin: 1em 0 2em;
		font-size: 1.7rem;
		font-weight: 400;
		text-align: center;
	}

	&__link {
		position: relative;
		left: 50%;
		display: inline-block;
		margin-top: 2em;
		padding: 1em 2em;
		color: $mainColor;
		background-color: $buttonColor;
		border-radius: 8px;
		text-decoration: none;
		transform: translateX(-50%);
		transition: background-color 0.3s;

		&:hover {
			background-color: $selectionColor;
		}
	}

	&__cards {
		display: grid;
		justify-content: center;
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(4, 1fr);
		row-gap: 1.5em;
	}

	&__card {
		grid-column: 1/-1;
		display: flex;
		flex-direction: column;
		padding: 2em 1em;
		border-radius: 10px;
		box-shadow: 0 3px 5px #a7a2a2;
		transition: transform 0.3s;

		&--demo {
			grid-row: 1/2;
		}

		&--standard {
			grid-row: 2/3;
		}

		&--premium {
			grid-row: 3/4;
		}

		&:hover {
			transform: scale(0.92);
		}

		&-header {
			font-size: 2rem;
			font-weight: 400;
			text-align: center;
		}

		&-price {
			margin: 0.3em 0;
			font-size: 2.4rem;
			font-weight: 700;
			text-align: center;
		}

		&-body {
			align-self: center;
		}

		&-option {
			margin: 0.5em 0;
			font-size: 1.4rem;

			&--disabled {
				color: #938383;
			}

			i {
				margin-right: 0.5em;
			}

			.fa-check {
				color: $selectionColor
			}
		}

		&-button {
			align-self: center;
			margin-top: 1em;
			padding: 1em 2em;
			width: 80%;
			background-color: transparent;
			border: none;
			border-radius: 2px;
			box-shadow: 0 2px 5px #a39999;
			transition: background-color 0.3s;
			cursor: pointer;

			&:hover {
				background-color: #e2d3d3;
			}

			&--green {
				color: #fff;
				background-color: #17c517;
				box-shadow: 0 2px 5px #25a125;

				&:hover {
					background-color: #2c792c;
				}
			}
		}
	}
}



// FOOTER



.footer {
	background-color: $footerColor;

	&__left {
		margin: 2em 0;
	}

	&__text {
		font-size: 4rem;
		text-align: center;
	}

	&__section {
		margin: 1em 0;
	}

	&__header {
		text-align: center;
	}

	&__links {
		margin: 0.5em 0;
		display: flex;
		justify-content: center;
	}

	&__link {
		margin: 0 0.3em;
		padding: 0.2em;
		// background-color: red;
		text-decoration: none;
		color: $secondColor;
	}

	&__bottom {
		&-text {
			padding: 1em;
			border-top: 1px solid black;
			text-align: center;
		}
	}
}



// MEDIA QUERIES



@media (min-width: 576px) {
	.nav {
		&__btn {
			padding: 0.7em;
		}
	}
	
	.header {
		&__text {
			font-size: 1.6rem;
		}

		&__heading {
			font-size: 3.2rem;
		}
	}

	.aboutus {
		&__header {
			font-size: 2.8rem;
		}

		&__text {
			h3 {
				margin: 1.4em 0 0.9em;
				font-size: 2.5rem;
			}

			p {
				font-size: 1.7rem;
			}
		}
	}

	.adventure {
		background-attachment: fixed;

		&__text {
			font-size: 2.3rem;
		}
	}

	.offers {
		&__header {
			font-size: 2.8rem;
		}

		&__card {
			grid-column: 2/4;

			&-option {
				font-size: 1.3rem;
			}
		}
	}
}





@media (min-width: 768px) {
	.nav {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		height: auto;

		&__btn {
			display: none;
		}

		&__logo {
			display: block;
			padding: 0.2em;
			font-size: 2.6rem;
		}

		&__items {
			position: relative;
			justify-content: space-between;
			align-items: center;
			transform: translate(0);
			height: auto;
		}

		&__links {
			flex-direction: row;
			width: 50%;
		}

		&__link {
			margin: 0;
			padding: 2em 0;
			width: 25%;
			font-size: 1.5rem;
			text-align: center;
			transition: background-color 0.3s, color 0.3s;

			&:hover {
				background-color: $secondColor;
				color: $mainColor;
			}
		}
	}

	.aboutus {
		&__items {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 2em;
		}
		
		&__header {
			grid-column: 1/-1;
			font-size: 3rem;
		}

		&__img {
			grid-column: 1/2;
			height: 100%;
		}

		&__text {
			grid-column: 2/3;

			h3 {
				margin: -0.2em 0 0.6em;
				font-size: 2.1rem;
				text-align: left;
			}

			p {
				padding: 0;
				font-size: 1.5rem;
			}
		}
	}

	.adventure {
		&__text {
			font-size: 2.7rem;
		}
	}

	.offers {
		&__header {
			font-size: 3rem;
		}

		&__paragraph {
			font-size: 1.9rem;
		}

		&__cards {
			grid-template-rows: repeat(2, 1fr);
			grid-template-columns: repeat(4, 1fr);
			column-gap: 2em;
		}

		&__card {
			&-option {
				font-size: 1.4rem;
			}

			&--demo {
				grid-column: 1/3;
			}

			&--premium {
				grid-column: 3/5;
				grid-row: 1/2;
			}
		}
	}
}





@media (min-width: 992px) {
	.nav {
		&__link {
			font-size: 1.7rem;
		}
	}

	.header {
		background-image: url('../img/jungle-big.jpg');
	}

	.aboutus {
		&__header {
			margin-bottom: 1.5em;
		}

		&__text {
			p {
				line-height: 2.5rem;
			}
		}
	}

	.adventure {
		background-image: url(../img/girl-big.jpg);

		&__text {
			font-size: 3rem;
		}
	}

	.offers {
		&__cards {
			grid-template-rows: 1fr;
			grid-template-columns: repeat(3, 1fr);
		}

		&__card {
			grid-row: 1/-1;

			&--demo {
				grid-column: 1/2;
			}

			&--standard {
				grid-column: 2/3;
			}

			&--premium {
				grid-column: 3/-1;
			}
		}
	}
}





@media (min-width: 1200px) {
	.nav {
		&__logo {
			margin-left: 0;
			font-size: 3rem;
		}

		&__link {
			font-size: 1.9rem;
		}
	}

	.aboutus {
		&__text {
			p {
				font-size: 1.8rem;
				line-height: 3rem;
			}
		}
	}

	.adventure__text,
	.offers__cards,
	.footer__items {
		@include section-margin;
	}
}