@use './utilities/colors' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: $mainColor;
	color: $secondColor;
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

// NAWIGACJA

a {
	color: $secondColor;
	text-decoration: none;
}

.nav {
    
    &__btn {
        position: sticky;
        top: 0.5em;
        left: 0.5em;
        padding: 0.7em;
        font-size: 2.2rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 2;
    }
    
    &__items {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateX(-100%);
        transition: transform 0.3s;
    }

    &--active {
        transform: translateX(0);
    }

    &__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        z-index: -2;
    }

    &__link {
        margin: 0.3em 0;
        padding: 2em 1em;
    }

    &__logo {
        display: none;
    }
}

// MEDIA QUERIES

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
	
}
